@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);

$blueprint-font-family: "Droid Serif", "Georgia", "Times New Roman", serif;
$blueprint-font-size: 16px;

@import "blueprint/reset";
@import "partials/base";
@import "blueprint";

@include blueprint;

@import "compass/typography/lists/horizontal-list";
@import "compass/typography/lists/inline-list";

$footer-height: 2em;

@import "compass/layout/sticky-footer";
@include sticky-footer;

body {
  background: $blueprint-background-color;

  div#root {
    @include container;

    margin-bottom: -1 * $footer-height;

    div#root_header {
      padding-top: 1em;
    }

    div#main {
      @include column(18, true);
      @include prepend(6);

      header#header {
        @include column(18, true);

        hgroup#site_title {
          @include column(18, true);

          text-align: right;
        }
      }

      section#content {
        @include column(18, true);
      }
    }

    aside#sidebar {
      @include column(5);
      @include pull(24, true);

      font-size: 80%;

      img#avatar {
        @include column(5);
      }

      nav#social_menu {
        @include column(5);

        clear: both;
        padding-top: 4px;

        ul {
          @include horizontal-list(3px);

          li {
            &:first-child {
              padding-left: 2px;
            }

            &:last-child {
              padding-right: 2px;
            }

            img.social_icon {
              width: 26px;
            }
          }
        }
      }
    }

    div#root_footer {
      height: $footer-height + 1em;
      clear: both;
    }
  }

  footer#footer {
    width: 100%;
    text-align: center;
    font-size: smaller;
  }
}

@import 'partials/index';
