<footer id="footer">
  Copyright &copy; {{ site.time | date: "%Y" }} <a href="{{ site.url }}">{{ site.name }}</a>.
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<script>
  var _gaq=[['_setAccount','UA-29322890-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
