<article class="post">
  <header class="post_header" data-swiftype-index="false">
    <h1 class="post_title">{% if post %}<a href="{{ post.url }}">{{ post.title }}</a>{% else %}{{ page.title }}{% endif %}</h1>
  </header>

  <section class="post_content">
    {% if post %}
    {{ post.content | excerpt }}
    {% else %}
    {{ content }}
    {% endif %}
  </section>

  <footer class="post_footer" data-swiftype-index="false">
    {% capture excerpted %}{{ post.content | has_excerpt }}{% endcapture %}
    {% if excerpted == 'true' %}
      <p><a href="{{ post.url }}">Read more…</a></p>
    {% endif %}

    <section class="post_meta">
      <p>
        Published on
        <time datetime="{% if post %}{{ post.date | date_to_xmlschema }}{% else %}{{ page.date | date_to_xmlschema }}{% endif %}"{% unless post %} pubdate{% endunless %}>
          {% if post %}{{ post.date | date_to_long_string }}{% else %}{{ page.date | date_to_long_string }}{% endif %}</time>.

        {% if post %}
        <a href="{{ post.url }}#disqus_thread">Comments</a>.
        {% else %}
        <a href="{{ post.url }}">Permalink</a>.
        {% endif %}
      </p>

      {% include social.html %}
    </section>
  </footer>
</article>
