<aside id="sidebar">
  <a href="/"><img alt="Jesse B. Hannah" title="Jesse B. Hannah" id="avatar" src="/img/avatar.png" /></a>

  <nav class="sidebar_block" id="social_menu">
    <ul>
      {% for s in site.social %}<li id="{{ s.abbr }}"><a href="{{ s.url }}{% if s.abbr == 'gplus' and page.date %}?rel=author{% endif %}"><img src="/img/social/{{ s.abbr }}.png" class="social_icon" alt="{{ s.name }}" title="{{ s.name }}" /></a></li>{% endfor %}
    </ul>
  </nav>

  {% unless page.body_class == 'index' or page.body_class == 'err404' %}
    {% include latest_posts.html %}
    {% include twitter.html %}
  {% endunless %}
</aside>
