@import "compass/typography/lists/horizontal-list";

article.post {
  margin-bottom: 1em;
  border-bottom: 1px solid silver;

  .post_header {
    .post_title {
      line-height: 1.2;
      margin-bottom: 0;
    }

    .post_meta, .social_share {
      margin-top: 0.5em;
      font-size: small;
    }

    margin-bottom: 1em;
  }
}

.social_share {
  margin-bottom: 1em;

  div, iframe {
    vertical-align: middle !important;
  }
}

.pagination {
  margin: 1em auto 0;
  clear: both;

  font-size: small;

  .previous, .pages, .next {
    float: left;

    &.disabled {
      color: grey;
    }
  }

  ul.pages {
    @include horizontal-list;

    li.page {
      margin: auto 1em;

      .current_page {
        font-weight: bold;
      }
    }
  }
}
