---
layout: default
title: Blog
---

{% for post in paginator.posts %}
  {% include post.html %}
{% endfor %}

{% if paginator.total_pages > 1 %}
  {% if paginator.page > 1 %}
    <a href="/blog/page{{ paginator.previous_page }}">&laquo; Page {{ paginator.previous_page }}</a>
  {% endif %}
  {% if paginator.page < paginator.total_pages %}
    <a href="/blog/page{{ paginator.next_page }}">Page {{ paginator.next_page }} &raquo;</a>
  {% endif %}
{% endif %}

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname  = 'jbhannah{% unless site.url == site.prod_url %}-devel{% endunless %}'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
