.post {
  .social_share {
    margin-bottom: 1em;

    div, iframe {
      vertical-align: middle !important;
    }
  }

  .post_content {
    img {
      display: block;
      margin: 0 auto;
    }
  }

  .post_meta {
    @extend .panel;
  }
}
