<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ site.name }}</title>

    <link href="/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />

    <script src="/scripts/modernizr.js"></script>
  </head>

  <body>
    <div id="root">
      <div id="root_header"></div>

      <div id="main">
        <header id="header">
          <h1>{{ site.name }}</h1>
          <h2>{{ site.nickname }}</h2>
        </header>

        <section id="content">
          {{ content }}
        </section>

        {% include sidebar.html %}
      </div>

      <div id="root_footer"></div>
    </div>

    <footer id="footer">
      Copyright &copy; {{ site.time | date: "%Y" }} <a href="{{ site.url }}">{{ site.name }}</a>.
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <script>
      var _gaq=[['_setAccount','UA-29322890-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
