<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ site.name }}</title>

    <link href="/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />

    <script src="js/vendor/modernizr-2.5.3.min.js"></script>
  </head>

  <body>
    <div id="root">
      <div id="root_header"></div>

      <div id="main">
        {% include header.html %}

        <section id="content">
          {{ content }}
        </section>

        {% include sidebar.html %}
      </div>

      <div id="root_footer"></div>
    </div>

    {% include footer.html %}
  </body>
</html>
