---
layout: default
---

<article class="post">
  <header class="post_header" data-swiftype-index="false">
    <h1 class="post_title">{{ page.title }}</h1>
  </header>

  <section class="post_content">
    {{ content }}
  </section>

  <footer class="post_footer" data-swiftype-index="false">
    <section class="post_meta">
      <p>
        Published on
        <time datetime="{{ page.date | date_to_xmlschema }}" pubdate> {{ page.date | date_to_long_string }}</time>.
        <a href="{{ page.url }}">Permalink</a>.
      </p>

      {% include social.html %}
    </section>
  </footer>
</article>


<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_identifier = "{{ page.id }}";
    var disqus_title      = "{{ page.title }}";

    (function() {
        var dsq = document.createElement('script'); dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">Comments powered by <span class="logo-disqus">Disqus</span></a>
